{% extends "admin-master.html"%}
{% load static %}
{% block title %}
    Edit | {{course.course_name}}
{% endblock title %}

{% block styles %}
    
    <link rel="stylesheet" href="{% static 'css/messages.css'%}">
    <link rel="stylesheet" href="{% static 'css/course/course.css'%}">
{% endblock styles %}

{% block headscripts %}
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
{% endblock headscripts %}





{% block adminarea %}

    <div id="section-34736">
    {% csrf_token %}
        
        <div class="floating-message visually-hidden" id="id_floating_messages">
            <p class="message"></p>
        </div>
        <div class="container">
            <form id="courseForm">
                <h2>Course Form</h2>

                <label for="course_name">Course Name</label>
                <input type="text" id="id_course_name" name="course_name" value="{{course.course_name}}" required>
                <span class="message error visually-hidden" id="id_course_name_error_message"></span>
                
                <br>
                <br>
                
                <label for="summary">Summary</label>
                <textarea id="id_summary" name="summary" rows="3" required>{{course.summary}}</textarea>
                <span class="message error visually-hidden" id="id_summary_error_message"></span>
                
                <br>
                <br>
                
                <label for="">Overview</label>
                <textarea id="id_overview" name="overview">{{course.overview | safe }}</textarea>
                <span class="message error visually-hidden" id="id_overview_error_message"></span>
                <script>
                    CKEDITOR.replace('id_overview');
                    </script>
                
                <br>
                <br>
                
                <label for="">Details</label>
                <textarea id="id_details" name="details">{{course.details | safe}}</textarea> 
                <span class="message error visually-hidden" id="id_details_error_message"></span>
                <script>
                    CKEDITOR.replace('id_details');
                    </script>
                
                <br>
                <br>
                
                <label for="curriculum">Curriculum</label>
                <textarea id="id_curriculum" name="curriculum" rows="5" required>{{course.curriculum | safe}}</textarea>
                <span class="message error visually-hidden" id="id_curriculum_error_message"></span>
                <script>
                    CKEDITOR.replace('id_curriculum');
                </script>
                
                <br>
                <br>
                
                <label for="benefits">Benefits</label>
                <textarea id="id_benefits" name="benefits" rows="3" required>{{course.benefits | safe}}</textarea>
                <span class="message error visually-hidden" id="id_benefits_error_message"></span>
                <script>
                    CKEDITOR.replace('id_benefits');
                    </script>
                
                <br>
                <br>
                
                <label for="featured_image">Featured Image</label>
                <input type="file" id="id_featured_image" name="featured_image" accept="image/*">
                <img src="/media/{{course.featured_image}}" alt="image preview" id="id_featured_image_preview" style="width: 100%;">
                <script>
                    document.getElementById('id_featured_image').onchange = function () {
                        var src = URL.createObjectURL(this.files[0])
                        document.getElementById('id_featured_image_preview').src = src;
                    }
                  </script>
                <span class="message error visually-hidden" id="id_featured_image_error_message"></span>
                
                <br>
                <br>
                
                <label for="course_short_description">Course Short Description</label>
                <textarea id="id_course_short_description" name="course_short_description" rows="3" required>{{course.course_short_description | safe}}</textarea>
                <span class="message error visually-hidden" id="id_course_short_description_error_message"></span>
                
                <br>
                <br>
                
                <label for="course_image">Course Image</label>
                <input type="file" id="id_course_image" name="course_image" accept="image/*" >
                <img src="/media/{{course.course_image}}" alt="image preview" id="id_course_image_preview" style="width: 100%;">
                <script>
                    document.getElementById('id_course_image').onchange = function () {
                        var src = URL.createObjectURL(this.files[0])
                        document.getElementById('id_course_image_preview').src = src;
                    }
                  </script>
                <span class="message error visually-hidden" id="id_course_image_error_message"></span>
                
                <br>
                <br>
                
                <label for="course_syllabus">Course Syllabus</label>
                <input type="file" id="id_course_syllabus" name="course_syllabus">
                {% if course.course_syllabus %}
                <span>Currently selected file <a href="/media/{{course.course_syllabus}}">{{course.course_syllabus}}</a></span>
                {% else %}
                <span>No File is uploaded <a href="/media/{{course.course_syllabus}}">{{course.course_syllabus}}</a></span>
                {% endif %}
                <span class="message error visually-hidden" id="id_course_syllabus_error_message"></span>
                
                <br>
                <br>
                
                <label for="is_published">Status</label>
                <select name="is_published" id="id_is_published">
                    <option value="True" {% if course.is_published == True%}selected{%endif%}>Published</option>
                    <option value="False" {% if course.is_published == True %}{%else%}selected{%endif%}>Draft</option>
                </select>
                <span class="message error visually-hidden" id="id_is_published_error_message"></span>
                
                <br>
                <br>
                
                <label for="slug">Slug</label>
                <input type="text" id="id_slug" name="slug" required value="{{course.slug}}">
                <span class="message error visually-hidden" id="id_slug_error_message"></span>
                
                <br>
                <br>
                
                <label for="duration">Duration (in weeks)</label>
                <input type="number" id="id_duration" name="duration" value="{{course.duration}}">
                <span class="message error visually-hidden" id="id_duration_error_message"></span>
                
                <br>
                <br>
                
                
                <label for="number_of_projects">Number Of Projects</label>
                <input type="number" id="id_number_of_projects" name="number_of_projects" value="{{course.number_of_projects}}">
                <span class="message error visually-hidden" id="id_number_of_projects_error_message"></span>
                
                <br>
                <br>


                <label for="tags">Tags</label>
                <input type="text" id="id_tags" name="tags" value="{{course.tags}}">
                <span class="message error visually-hidden" id="id_tags_error_message"></span>
                
                <br>
                <br>
                
                <label for="is_featured">Featured</label>
                <select name="is_featured" id="id_is_featured">
                    <option value="True" {% if course.is_featured == True%}selected{%endif%}>Featured</option>
                    <option value="False" {% if course.is_featured == True %}{%else%}selected{%endif%}>Not Featured</option>
                </select>
                <span class="message error visually-hidden" id="id_is_featured_error_message"></span>
                
                <br>
                <br>

                <input type="hidden" id="id_category" name="category">
                <label for="categories">Course Categories</label>
                {% for category in course_categories %}
                <div class="group" style="display: flex;">
                    <input type="checkbox" name="categories" value="{{category.id}}" class="course_categories_checkbox" {% if category in course.category.all %}checked{% endif %} onclick="define_categories_value()">
                    <label for="">{{category.name}}</label><br>
                </div>
                {% endfor %}
                <span class="message error visually-hidden" id="id_category_error_message"></span>

                
                
                <br>
                <br>
                
                <button type="button" onclick="edit_course()" id="id_edit_submit_button" class="submit-button">Submit</button>
            
            </form>
        </div>
    </div>

    

{% endblock adminarea %}

{% block footerscripts%}
    <!-- defining categories values -->
    <script>
        function define_categories_value(){
            let category = document.getElementById('id_category');
            let checkboxes = document.querySelectorAll("input[name='categories']");
        
            let arr = new Array();
            for (let cb of checkboxes){
                
                if(cb.checked){
                    arr.push(cb.value);
                }
            }
            category.value = arr;
        }
        define_categories_value();
    </script>

    <!-- ajax put request -->
    <script>

        function reset_error_messages(){
            let error_messages = document.querySelectorAll('.message.error');
            for (let message of error_messages){
                message.classList.add('visually-hidden');
            }
        }

        function edit_course(){
            for (var instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
            reset_error_messages();
            let csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            let course_name = document.getElementById('id_course_name').value;
            let summary = document.getElementById('id_summary').value;
            let overview = document.getElementById('id_overview').value;
            let details = document.getElementById('id_details').value;
            let curriculum = document.getElementById('id_curriculum').value;
            let benefits = document.getElementById('id_benefits').value;
            let featured_image = document.getElementById('id_featured_image').files[0];
            let course_short_description = document.getElementById('id_course_short_description').value;
            let course_image = document.getElementById('id_course_image').files[0];
            let course_syllabus = document.getElementById('id_course_syllabus').files[0];
            let is_published = document.getElementById('id_is_published').value;
            let is_featured = document.getElementById('id_is_featured').value;
            let slug = document.getElementById('id_slug').value;
            let duration = document.getElementById('id_duration').value;
            let number_of_projects = document.getElementById('id_number_of_projects').value;
            let tags = document.getElementById('id_tags').value;
            let category = document.getElementById('id_category').value;
            let submit_button = document.getElementById('id_edit_submit_button');

            submit_button.innerHTML = `
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>`;

            let formData = new FormData();
            formData.append("course_name", course_name);
            formData.append("summary", summary);
            formData.append("overview", overview);
            formData.append("details", details);
            formData.append("curriculum", curriculum);
            formData.append("benefits", benefits);
            
            if (featured_image) {
                formData.append("featured_image", featured_image);
            } else {
                console.log('in else')
                formData.append("featured_image", "{{ course.featured_image }}"); // Send the existing image if no new one is selected
            }

            if (course_image) {
                formData.append("course_image", course_image);
            } else {
                formData.append("course_image", "{{ course.course_image }}");
            }

            if (course_syllabus) {
                formData.append("course_syllabus", course_syllabus);
            } else {
                formData.append("course_syllabus", "{{ course.course_syllabus }}");
            }
            formData.append("course_short_description", course_short_description);
            
            
            formData.append("is_published", is_published);
            formData.append("is_featured", is_featured);
            formData.append("slug", slug);
            formData.append("duration", duration);
            formData.append("number_of_projects", number_of_projects);
            formData.append("tags", tags);
            formData.append("category", category);
            formData.append("course_id", "{{course.id}}");
            $.ajax({
                url:"{% url 'admin-courses-api' %}",
                type:"PUT",
                processData: false,
                contentType: false,
                data:formData,
                beforeSend:function(xhr){
                    xhr.setRequestHeader("X-CSRFToken",csrftoken);
                },
                success:function(data){
                    if (data['status']=="success"){
                        submit_button.innerHTML = "submit";
                        show_floating_message(data['message'],'success',5000);
                    }
                    else if (data['status'] =="error"){
                        submit_button.innerHTML = "submit";
                        if (typeof data['message'] === 'object' && data['message'] !== null && !Array.isArray(data['message'])) {
                            
                            let errors = data['message'];
                            let keys = Object.keys(errors);
                            errors_length = Object.keys(errors).length
                            
                            for (let key of keys){
                                
                                let mesg = document.getElementById(`id_${key}_error_message`);
                                mesg.classList.remove('visually-hidden');
                                mesg.innerHTML = errors[key];
                            }
                        }
                        else{
                            
                            show_floating_message(data['message'],'error',5000);
                        }
                    }
                },
                error:function(xhr,textStatus,errorThrown){
                    console.log("AJAX ERROR: ",errorThrown);
                }
            })
        }

        function show_floating_message(message,responseType,timeOut=2000){
            let floating_message = document.getElementById('id_floating_messages');
            let message_area = floating_message.querySelector('p');
            const class_to_keep = "message";
            let classes = message_area.classList;
            classes.forEach(cls=>{
                if (cls !== class_to_keep){
                    message_area.classList.remove(cls);
                }
            });
            floating_message.classList.remove('visually-hidden','success');
            message_area.classList.add(responseType);
            message_area.innerHTML = message;
            setTimeout(() => {
                floating_message.classList.add('visually-hidden');
            }, timeOut);
        }

    </script>
{% endblock footerscripts%}
</body>
</html>