{% extends "masters/index-master.html" %}
{% load static %}
{% load custom_filter %}
{% load markdownify %}
{% block title %}
{{course.course_name}} | Webxter
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism.min.css" integrity="sha512-/mZ1FHPkg6EKcxo0fKXF51ak6Cr2ocgDi5ytaTBjsQZIH/RNs6GF6+oId/vPe3eJB836T36nXwVh/WBl/cWT4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/course/course_details.css' %}">
<link rel="stylesheet" href="{% static 'css/markdown/markdown.css' %}">

{% endblock styles %}


{% block mainarea %}
    {% csrf_token %}
    <div class="hero-heading">
        <div>
            <h2 class="heading">{{course.course_name}}</h2>
        </div>
        <div class="summary">
            <p>{{course.summary}}</p>
        </div>
    </div>

    <div class="course-information-section animated-element">

        <div class="section-heading">
            <div class="section-heading-text">
                <div class="heading roboto-black">
                    <h2>
                        Overview
                    </h2>
                </div>
                <p>{{course.overview | safe}}</p>
            </div>

            <div class="featured-image animated-element slide-in-left">
                <img src="/media/{{course.course_image}}" alt="{{course.course_name}}" alt="{{course.course_name}}" title="{{course.course_name}}">
            </div>
        </div>

    </div>
    
    
    <div class="course-information-section animated-element">

        <div class="section-heading justify-content-start">
            <div class="section-heading-text ">
                <div class="heading roboto-black">
                    <h2>
                        Details
                    </h2>
                </div>
                <p>{{course.details | safe}}</p>
            </div>

            <div class="get-quote-section d-flex align-items-center justify-content-center">
                <form class="get-quote-form animated-element">
                    <div class="heading">
                        <h2>Get Quote</h2>
                    </div>
                    <input type="text" name="name" placeholder="Name" id="id_name">
                    <span class="message error" id="id_name_error"></span>
                    
                    <input type="email" placeholder="Email" name="email" id="id_email">
                    <span class="message error" id="id_email_error"></span>
                    
                    <div class="group">
                        <input type="text" disabled value="+91" class="currency-symbol">
                        <input type="tel" placeholder="Phone Number" name="phone_number" id="id_phone_number" style="width: 100%;">
                    </div>
                    <span class="message error" id="id_phone_number_error"></span>
                    
                    <input type="text" disabled value="{{course.course_name}}" id="id_course">
                    
                    <textarea name="message" id="id_message" placeholder="Message"></textarea>
                    <span class="message error" id="id_message_error"></span>
                    
                    <button class="get-quote-submit-btn" type="button" onclick="submit_get_quote_query()" id="id_submit_btn">Submit</button>
                    <p class="message error text-align-center visually-hidden" id="id_error_message">Error message</p>
                    <p class="message success text-align-center visually-hidden" id="id_success_message">Success message</p>

                    <div class="registeration-section">
                        <a href="{% url 'course-registration' %}" class="registeration-buttons">Enroll Now</a>
                        <a href="{% url 'book-demo' %}" class="registeration-buttons">Book For Demo</a>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <div class="course-information-section animated-element fade-in-up">
        <div class="section-heading justify-content-start">
            <div class="section-heading-text curriculum w-100">
                <div class="heading roboto-black">
                    <h2>
                        Curriculum
                    </h2>
                </div>

                <div class="align-self-start w-100">
                    {{course.curriculum | safe}}
                </div>
               
            </div>
        </div>
    </div>
    
    
    <div class="course-information-section animated-element fade-in-up">
        <div class="section-heading justify-content-start">
            <div class="section-heading-text curriculum w-100">
                <div class="heading roboto-black">
                    <h2>
                        Benefits
                    </h2>
                </div>

                <div class="align-self-start w-100">
                    {{course.benefits |safe }}
                    
                </div>
               
            </div>
        </div>
    </div>


    
    {% if course.markdown_file.all %}
    <div class="course-information-section animated-element animated-element fade-in-up">
        <div class="section-heading justify-content-start">
            <div class="section-heading-text align-items-baseline w-100">
                <div id="markdown">
                    {% for md in course.markdown_file.all %}
                        <div class="markdown-content">
                            {{ md.file|render_markdown_file:course|safe }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="syllabus">
        <a href="/media/{{course.course_syllabus}}" class="syllabus-download-button" title="{{course.course_name}}">Download Syllabus</a>
    </div>



<script>

    function submit_get_quote_query(){
        let csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
        let success_message = document.getElementById('id_success_message');
        let error_message = document.getElementById('id_error_message');
        let error_messages = document.querySelectorAll('.message.error');
        let submit_button = document.getElementById('id_submit_btn');
        let date = new Date();
        let current_date = `${date.getDate()}-${date.getMonth() + 1}-${date.getFullYear()}`;
        let current_time = `${date.getHours()}:${date.getMinutes()}`;


        submit_button.innerHTML = `
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>`;

        success_message.classList.add('visually-hidden');
        error_message.classList.add('visually-hidden');

        for (let message of error_messages){
            message.classList.add('visually-hidden');
        }

        let postData;

        postData = {
            "name":document.getElementById('id_name').value,
            "email":document.getElementById('id_email').value,
            "message":document.getElementById('id_message').value,
            "phone_number":document.getElementById('id_phone_number').value,
            "course":document.getElementById('id_course').value,
            "time":current_time,
            "date":current_date,
        }

        $.ajax({
            url:"{% url 'request-callback-api' %}",
            type:"POST",
            contentType:"application/json",
            data:JSON.stringify(postData),
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken",csrftoken)
            },
            success:function(data){
                console.log("data: ",data);
                if (data['status'] == "success"){
                    success_message.classList.remove('visually-hidden');
                    success_message.innerHTML = data['message'];
                    submit_button.innerHTML = "Submitted";
                    submit_button.disabled = true;
                    submit_button.style.cursor = "no-drop";
                }
                else if (data['status'] == "error"){
                    submit_button.innerHTML = "Submit";
                    let errors = data['message'];
                    let keys = Object.keys(errors);
                    let errors_length = keys.length;

                    for (let key of keys){
                        let msg = document.getElementById(`id_${key}_error`);
                        msg.classList.remove('visually-hidden');
                        msg.innerHTML = errors[key];
                    }
                }
            },
            error:function(xhr,textStatus,errorThrown){
                console.error("AJAX ERROR: ",errorThrown);
            }
        })
    }

</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js" integrity="sha512-UOoJElONeUNzQbbKQbjldDf9MwOHqxNz49NNJJ1d90yp+X9edsHyJoAs6O4K19CZGaIdjI5ohK+O2y5lBTW6uQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script>hljs.highlightAll();</script> -->

{% endblock mainarea %}