<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Contact Us</h3>
          <p>Email: info@webxter.in</p>
          <p>Phone: +91 735-501-7830</p>
          <p>Address: 585, Diamond Block, Impherial City, Loharka Road Amritsar</p>
        </div>
        <div class="col-md-4">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'courses' %}">Courses</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="https://api.whatsapp.com/send?phone=7355017830">Contact</a></li>
            <li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Connect with Us</h3>
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/webxter.webs/" ><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/webxter_webs/" ><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://api.whatsapp.com/send?phone=7355017830"><i class="fab fa-whatsapp"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
          <p class="text-center">&copy; 2024 Webxter. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>