<div class="col">
    <div class="card h-100">
        <div class="card-header">
        <img src="/media/{{image}}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text" style="text-align:justify;">{{preview_text}}</p>
        </div>
        <div class="card-footer">
        <small class="text-body-secondary"><a href="{{url}}"><button type="button" class="btn btn-success">View</button></a></small>
        </div>
    </div>
</div>
