<div class="col cardv2">
    <div class="card h-100">
        <div class="card-header">
        <img src="/media/{{image}}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
        <div class="catchup">
            <p>Duration :{{duration}} Weeks</p>
            <p>Projects: {{projects}}</p>
        </div>
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{preview_text}}</p>
        </div>
        <div class="card-footer">
        <small class="text-body-secondary"><a href="{{url}}"><button type="button" class="btn course_view_button">View</button></a></small>
        </div>
    </div>
</div>
