{% extends "index-master.html" %}

{% block mainarea %}
<style>
    .demo-register-form{
        margin-top:135px !important;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    @import url(https://fonts.googleapis.com/css?family=Montserrat);


#multistepsform {
  /* width: 400px; */
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#multistepsform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
}
#multistepsform fieldset:not(:first-of-type) {
  display: none;
}
#multistepsform input,
#multistepsform select,
#multistepsform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}
#multistepsform input:focus,
#multistepsform select:focus,
#multistepsform textarea:focus {
  border-color: #679b9b;
  outline: none;
  color: #637373;
}
#multistepsform .action-button {
  width: 100px;
  background: #4da191;
  font-weight: bold;
  color: #fff;
  transition: 150ms;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#multistepsform .action-button:hover,
#multistepsform .action-button:focus {
  box-shadow: 0 0 0 2px #4da191;
  color: #fff;
}
#multistepsform .fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}
#multistepsform .fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
#multistepsform #progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}
#multistepsform #progressbar li {
  list-style-type: none;
  color: #679b9b;
  text-transform: uppercase;
  font-size: 9px;
  width: 50%;
  float: left;
  position: relative;
}
#multistepsform #progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #fff;
  background: #679b9b;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
#multistepsform #progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #679b9b;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}
#multistepsform #progressbar li:first-child:after {
  content: none;
}
#multistepsform #progressbar li.active {
  color: #4da191;
}
#multistepsform #progressbar li.active:before, #multistepsform #progressbar li.active:after {
  background: #4da191;
  color: white;
}
#multistepsform{
  min-height: 100vh;
    height: 130vh;
    max-height: 200vh;
}
#multistepsform .custom-field-grp{
  text-align: left;
}
#multistepsform .field_title{
  text-align: left;
  font-size: 8px;
}
#multistepsform .field_title .required{
  color: red;
  text-align: left;
  font-size: 8px;
}
</style>
<div class="demo-register-form">
    <h2>Demo Registeration Form</h2>
</div>

<!-- multistep form -->
<div id="multistepsform">
<form >
    <!-- progressbar -->
    <ul id="progressbar">
      <li class="active">Personal Details</li>
      <li>Course Details</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
      {% csrf_token %}
      <h2 class="fs-title">Personal Details</h2>
      <h3 class="fs-subtitle"></h3>
      <div class="custom-field-grp">
        <span class="field_title">Full Name <span class="required">*</span> </span>
        <input type="text" name="name" id="id_name" placeholder="Full Name" title="Full Name" required />
        <span id="name" class="message error"></span>
      </div>
      <div class="custom-field-grp">
        <span class="field_title">Email <span class="required">*</span></span>
        <input type="email" name="email" id="id_email" placeholder="Email" title="Email" required />
        <span id="email" class="message error"></span>
      </div>
      <div class="custom-field-grp">
        <span class="field_title">DOB <span class="required">*</span></span>
        <input type="date" name="date_of_birth" id="id_date_of_birth" placeholder="DOB" title="Date Of Birth" required />
        <span id="date_of_birth" class="message error"></span>
      </div>
      <div class="custom-field-grp">
        <span class="field_title">Contact Number <span class="required">*</span></span>
        <input type="text" maxlength="12" minlength="12" id="id_contact_number" name="contact_number" placeholder="Contact Number" title="Contact Number" required />
        <span id="contact_number" class="message error"></span>
      </div>
      <div class="custom-field-grp">
        <span class="field_title">Alternate Number</span>
        <input type="text" maxlength="12" minlength="12" id="id_alternate_number" name="alternate_number" placeholder="Alternate Number" title="Alternate Number"  />
        <span id="alternate_number" class="message error"></span>
      </div>
      <div class="custom-field-grp">
        <span class="field_title">Gender <span class="required">*</span></span>
        <select name="gender" title="Gender" id="id_gender" required >
          <option value="" selected disabled>Gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="O">Others</option>
        </select>
        <span id="gender" class="message error"></span>
      </div>

      <input type="button" name="next" class="next action-button" value="Next" />
      <button type="button" onclick="register_demo_class()" id="id_demo_submit_button" class="submit action-button" >Submit</button>
      <br>
      <span class="message error common visually-hidden"></span>
    </fieldset>
  
    <fieldset>
      <h2 class="fs-title">Course Details</h2>
      <h3 class="fs-subtitle"></h3>
      <div class="custom-field-grp">
        <span class="field_title">Available Courses <span class="required">*</span></span>
        <select name="course" id="id_course_list_4373">
          <option value="" disabled selected>Course</option>
          <script>
            function get_courses_list(){
              // console.log('called');
              $.ajax({
                url:"{% url 'courses-form-api' %}",
                type:"GET",
                contentType:"application/json",
                success:function(data){
                  if (data['status'] == 'success'){
                    let course_list = document.getElementById('id_course_list_4373');
                    for (let course of data['data']){
                      let option = document.createElement('option');
                      option.value = course['id'];
                      option.innerHTML = course['course_name'];
                      course_list.appendChild(option);
                    }
                  }
                },
                error:function(xhr,textStatus,errorThrown){
                  console.error("AJAX ERORR: ",errorThrown);
                }
              })
            }
            get_courses_list();
          </script>
        </select>
        <span id="course" class="message error"></span>
      </div>
      <div class="custom-field-grp">
        <span class="field_title">Available Demo Date <span class="required">*</span></span>
        <select name="date_slot" id="id_date_slot_657">
          <option value="" selected disabled>Demo Date</option>
          <script>
            function set_date_option_values(){
              let date_field = document.getElementById('id_date_slot_657');
              const date = new Date();
              day = date.getDate();
              month = date.getMonth() +1;
              year = date.getFullYear();
              let current_date = `${day}-${month}-${year}`;
              let db_date_format = `${year}-${month}-${day}`
              let monthwith31days = [1,3,5,7,8,10,12];
              for (let i=0;i<5;i++){

                if (monthwith31days.includes(month)){
                  day += 2;
                  if (day>31){
                    day=1;
                    month+=1;
                    if (month>12){
                      month=1;
                      year+=1;
                    }
                  }
                }

                else if(month==2){
                  day+=2;
                  if (day>28){
                    day=1;
                    month+=1;
                    if (month>12){
                      month=1;
                      year+=1;
                    }
                  }
                }

                else{
                  day+=2;
                  if (day>30){
                    day=1;
                    month+=1;
                    if (month>12){
                      month=1;
                      year+=1;
                    }
                  }
                }
                let option = document.createElement('option');
                option.value = `${year}-${month}-${day}`;
                option.innerHTML = `${day}-${month}-${year}`;
                date_field.appendChild(option);
              }
              
            }
            set_date_option_values();
          </script>
          
        </select>
        <span id="date_slot" class="message error"></span>
      </div>
      <div class="custom-field-grp">
        <span class="field_title">Available Time Slots <span class="required">*</span></span>
        <select name="time_slot" placeholder="Time Slot" title="Time Slot" id="id_time_slot_438">
          <option value="" selected disabled>Demo Time</option>
          <script>

            function get_demo_available_time_slots(){
              let time_slot = document.getElementById('id_time_slot_438');
              $.ajax({
                url:"{% url 'get-demo-time-slots' %}",
                type:"GET",
                contentType:"application/json",
                success:function(data){
                  if (data['status'] == "success"){
                    let slots = data['data'];
                    let start_slot;
                    let end_slot;
                    for (let slot of slots){
                      let option = document.createElement('option');
                      option.value = slot['id'];
                      // console.log(Number(slot['start_slot'].split(":")[0]) + 1)
                      if (Number(slot['start_slot'].split(":")[0])>12){
                        start_slot = Number(slot['start_slot'].split(":")[0]) - 12;
                        start_slot+="PM"
                      }
                      else{
                        start_slot = Number(slot['start_slot'].split(":")[0]) + "AM";
                      }
                      if (Number(slot['end_slot'].split(":")[0])>12){
                        end_slot = Number(slot['end_slot'].split(":")[0]) - 12;
                        end_slot+= "PM";
                      }
                      else{
                        end_slot = Number(slot['end_slot'].split(":")[0]) + "AM";
                      }
                      option.innerHTML = `${start_slot} - ${end_slot}`;
                      time_slot.appendChild(option);
                    }
                  }
                }
              })

            }
            get_demo_available_time_slots();

          </script>
        </select>
        <span id="time_slot" class="message error"></span>
      </div>
      
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <!-- <input type="button" name="submit" onclick="register_demo_class()" id="id_demo_submit_button" class="submit action-button" value="Submit" /> -->
      <button type="button" onclick="register_demo_class()" id="id_demo_submit_button" class="submit action-button" >Submit</button>
      <br>
      <span class="message success" id="id_message_success"></span>
      <span class="message error common visually-hidden"></span>
    </fieldset>
  </form>
  
</div>

  <script>

    function prepare_form_data(){
      
      let name = document.getElementById('id_name');
      let email = document.getElementById('id_email');
      let dob = document.getElementById('id_date_of_birth');
      let gender = document.getElementById('id_gender');
      let contact_number = document.getElementById('id_contact_number');
      let alternate_number = document.getElementById('id_alternate_number');
      let course = document.getElementById('id_course_list_4373');
      let date_slot = document.getElementById('id_date_slot_657');
      let time_slot = document.getElementById('id_time_slot_438');
      let data = {
        "name":name.value,
        "email":email.value,
        "date_of_birth":dob.value,
        "gender":gender.value,
        "contact_number":contact_number.value,
        "alternate_number":alternate_number.value,
        "course":course.value,
        "date_slot":date_slot.value,
        "time_slot":time_slot.value,
      }
      return data;
    }

    function register_demo_class(){
      let error_message_tags = document.querySelectorAll('.message.error.common');
            for (let tag of error_message_tags){
              tag.classList.add('visually-hidden');
              tag.innerHTML = "";
            }
      let submit_button = document.getElementById('id_demo_submit_button');
      submit_button.innerHTML = `<div class="spinner-border text-light" role="status">
                                  <span class="visually-hidden">Loading...</span>
                                </div>`;
      //
      var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
      let success_message = document.getElementById('id_message_success');
      success_message.classList.add('visually-hidden');
      let span_error_messages = document.querySelectorAll('.message');
      for (let sp of span_error_messages){
        sp.classList.add('visually-hidden');
      }
      let postData = prepare_form_data();
      $.ajax({
        url:"{% url 'book-demo-api' %}",
        type:"POST",
        contentType:"application/json",
        beforeSend:function(xhr){
          xhr.setRequestHeader("X-CSRFToken",csrftoken);
        },
        data:JSON.stringify(postData),
        success:function(data){
          if (data['status'] == "success"){
            submit_button.style.cursor = "no-drop";
            submit_button.disabled = true;
            submit_button.innerHTML = "Submitted" 
            
            success_message.classList.remove('visually-hidden');
            success_message.innerHTML = data['message'];
          }
          else if (data['status'] == "error"){
            let error_message_tags = document.querySelectorAll('.message.error.common');
            for (let tag of error_message_tags){
              tag.classList.remove('visually-hidden');
              tag.innerHTML = "Please fill all the required fields!";
            }
            submit_button.innerHTML = "submit";
            let errors = data['message'];
            // console.log(errors)
            let counter = Object.keys(errors).length
            let keys = Object.keys(errors);
            for (let i=0;i<counter;i++){
              // console.log(keys[i])
              let ele = document.getElementById(`${keys[i]}`);
              ele.classList.remove('visually-hidden');
              ele.innerHTML = errors[keys[i]];
            }
          }
          
        },
        error:function(xhr,textStatus,errorThrown){
          success_message.classList.remove('visually-hidden');
          success_message.innerHTML = "Demo Booked";
          submit_button.innerHTML = "Submit";
          console.error("AJAX ERROR: ",errorThrown);
        }
      })
    }

  </script>

  <script>
    var current_fs, next_fs, previous_fs;
var left, opacity, scale;
var animating;
$(".next").click(function () {
  if (animating) return false;
  animating = true;

  current_fs = $(this).parent();
  next_fs = $(this).parent().next();
  $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
  next_fs.show();
  current_fs.animate(
    { opacity: 0 },
    {
      step: function (now, mx) {
        scale = 1 - (1 - now) * 0.2;
        left = now * 50 + "%";
        opacity = 1 - now;
        current_fs.css({
          transform: "scale(" + scale + ")",
          position: "absolute"
        });
        next_fs.css({ left: left, opacity: opacity });
      },
      duration: 800,
      complete: function () {
        current_fs.hide();
        animating = false;
      },
      easing: "easeInOutBack"
    }
  );
});

$(".previous").click(function () {
  if (animating) return false;
  animating = true;

  current_fs = $(this).parent();
  previous_fs = $(this).parent().prev();
  $("#progressbar li")
    .eq($("fieldset").index(current_fs))
    .removeClass("active");

  previous_fs.show();
  current_fs.animate(
    { opacity: 0 },
    {
      step: function (now, mx) {
        scale = 0.8 + (1 - now) * 0.2;
        left = (1 - now) * 50 + "%";
        opacity = 1 - now;
        current_fs.css({ left: left });
        previous_fs.css({
          transform: "scale(" + scale + ")",
          opacity: opacity
        });
      },
      duration: 800,
      complete: function () {
        current_fs.hide();
        animating = false;
      },
      easing: "easeInOutBack"
    }
  );
});

$(".submit").click(function () {
  return false;
});

  </script>
{% endblock mainarea %}