{% extends "index-master.html" %}

{% block mainarea %}
<style>
    .demo-register-form{
        margin-top:135px !important;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    @import url(https://fonts.googleapis.com/css?family=Montserrat);


#multistepsform {
  width: 100%;
  height: fit-content;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#multistepsform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
}
#multistepsform fieldset:not(:first-of-type) {
  display: none;
}
#multistepsform input,
#multistepsform select,
#multistepsform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}
#multistepsform input:focus,
#multistepsform select:focus,
#multistepsform textarea:focus {
  border-color: #679b9b;
  outline: none;
  color: #637373;
}
#multistepsform .action-button {
  width: 100px;
  background: #4da191;
  font-weight: bold;
  color: #fff;
  transition: 150ms;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#multistepsform .action-button:hover,
#multistepsform .action-button:focus {
  box-shadow: 0 0 0 2px #4da191;
  color: #fff;
}
#multistepsform .fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}
#multistepsform .fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
#multistepsform #progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}
#multistepsform #progressbar li {
  list-style-type: none;
  color: #679b9b;
  text-transform: uppercase;
  font-size: 9px;
  width: calc(100%/6);
  float: left;
  position: relative;
}
#multistepsform #progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #fff;
  background: #679b9b;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
#multistepsform #progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #679b9b;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}
#multistepsform #progressbar li:first-child:after {
  content: none;
}
#multistepsform #progressbar li.active {
  color: #4da191;
}
#multistepsform #progressbar li.active:before, #multistepsform #progressbar li.active:after {
  background: #4da191;
  color: white;
}
#multistepsform{
  min-height: 100vh;
    height: 130vh;
    max-height: 200vh;
}
#multistepsform .custom-field-grp{
  text-align: left;
}
#multistepsform .field_title{
  text-align: left;
  font-size: 8px;
}
#multistepsform .field_title .required{
  color: red;
  text-align: left;
  font-size: 8px;
}

.wrapper{
  height: fit-content;
}
</style>
<div class="demo-register-form">
    <h2>Registeration Form</h2>
</div>

<!-- multistep form -->
<div class="wrapper">
<form id="multistepsform">
    <!-- progressbar -->
    <ul id="progressbar">
      <li class="active">Personal Details</li>
      <li>Academic Details</li>
      <li>Course Details</li>
      <li>Prerequisite Information</li>
      <li>Returning Student</li>
      <li>Emergency Contact</li>
    </ul>
    <!-- fieldsets -->
     <!-- personal details -->
    <fieldset>
      {% csrf_token %}
      <h2 class="fs-title">Personal Details</h2>
      <h3 class="fs-subtitle"></h3>
      <div class="custom-field-grp">
        <span class="field_title">Full Name <span class="required">*</span> </span>
        <input type="text" name="name" id="id_name" placeholder="Full Name" title="Full Name" required />
        <span id="name" class="message error"></span>
      </div>
      <div class="custom-field-grp">
        <span class="field_title">Email <span class="required">*</span></span>
        <input type="email" name="email" id="id_email" placeholder="Email" title="Email" required />
        <span id="email" class="message error"></span>
      </div>
      <div class="custom-field-grp">
        <span class="field_title">DOB <span class="required">*</span></span>
        <input type="date" name="date_of_birth" id="id_date_of_birth" placeholder="DOB" title="Date Of Birth" required />
        <span id="date_of_birth" class="message error"></span>
      </div>
      <div class="custom-field-grp">
        <span class="field_title">Contact Number <span class="required">*</span></span>
        <input type="text" maxlength="12" minlength="10" id="id_contact_number" name="contact_number" placeholder="Contact Number" title="Contact Number" required />
        <span id="contact_number" class="message error"></span>
      </div>
      <div class="custom-field-grp">
        <span class="field_title">Alternate Number</span>
        <input type="text" maxlength="12" minlength="10" id="id_alternate_number" name="alternate_number" placeholder="Alternate Number" title="Alternate Number"  />
        <span id="alternate_number" class="message error"></span>
      </div>
      <div class="custom-field-grp">
        <span class="field_title">Gender <span class="required">*</span></span>
        <select name="gender" title="Gender" id="id_gender" required >
          <option value="" selected disabled>Gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="O">Others</option>
        </select>
        <span id="gender" class="message error"></span>
      </div>

      <input type="button" name="next" class="next action-button" value="Next"/>
      <button type="button" onclick="register_demo_class()" id="id_demo_submit_button" class="submit action-button" >Submit</button>
      <br>
      <span class="message error common visually-hidden"></span>
    </fieldset>
  
    <!-- Academic details -->
    <fieldset>
        
        <h2 class="fs-title">Academic Details</h2>
        <h3 class="fs-subtitle"></h3>
        <div class="custom-field-grp">
          <span class="field_title">Student ID (Board/University roll number)</span>
          <input type="text" name="student_id" id="id_student_id" placeholder="Student ID" title="Student ID" />
          <span id="student_id" class="message error"></span>
        </div>
        <div class="custom-field-grp">
          <span class="field_title">Higest Education Qualification <span class="required">*</span></span>
          <select name="highest_education_qualification" id="id_highest_education_qualification">
            <option value="" selected disabled>Qualification</option>
            <option value="10th">10th</option>
            <option value="+1/+2 with IT">+1/+2 (with IT)</option>
            <option value="+1/+2 without IT">+1/+2 (without IT)</option>
            <option value="graduation">Graduation</option>
            <option value="masters">Masters</option>
            <option value="phd">Phd.</option>
          </select>
          <span id="highest_education_qualification" class="message error"></span>
        </div>
        <div class="custom-field-grp">
          <span class="field_title">Institute Name <span class="required">*</span></span>
          <input type="text" name="institute_name" id="id_institute_name" placeholder="Institute Name" title="Institute Name" required />
          <span id="institute_name" class="message error"></span>
        </div>
        
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
        <button type="button" onclick="register_demo_class()" id="id_demo_submit_button" class="submit action-button" >Submit</button>
        <br>
        <span class="message error common visually-hidden"></span>
    </fieldset>

    <!-- course details -->
    <fieldset>
      <h2 class="fs-title">Course Details</h2>
      <h3 class="fs-subtitle"></h3>
      <div class="custom-field-grp">
        <span class="field_title">Available Courses <span class="required">*</span></span>
        <select name="course" id="id_course_list_4373">
          <option value="" disabled selected>Course</option>
          <script>
            function get_courses_list(){
              // console.log('called');
              $.ajax({
                url:"{% url 'courses-form-api' %}",
                type:"GET",
                contentType:"application/json",
                success:function(data){
                  if (data['status'] == 'success'){
                    let course_list = document.getElementById('id_course_list_4373');
                    for (let course of data['data']){
                      let option = document.createElement('option');
                      option.value = course['id'];
                      option.innerHTML = course['course_name'];
                      course_list.appendChild(option);
                    }
                  }
                },
                error:function(xhr,textStatus,errorThrown){
                  console.error("AJAX ERORR: ",errorThrown);
                }
              })
            }
            get_courses_list();
          </script>
        </select>
        <span id="course" class="message error"></span>
      </div>
      <div class="custom-field-grp">
        <span class="field_title">Batch <span class="required">*</span></span>
        <select name="batch" id="id_batch">
          <option value="" disabled selected>--</option>
          <script>
            function set_batch_values(){
              let batch_field = document.getElementById('id_batch');
              $.ajax({
                url:"{% url 'batches-api' %}",
                type:"GET",
                contentType:"application/json",
                success:function(data){
                  if (data['status']=='success'){
                    let batches = data['data'];
                    for (let batch of batches){
                      let option = document.createElement('option');
                      option.value = batch['id'];
                      option.innerHTML = batch['name'];
                      batch_field.appendChild(option);
                    }
                  }
                },
                error:function(xhr,textStatus,errorThrown){
                  console.error("AJAX ERROR: ",errorThrown);
                }
              })
            }
            set_batch_values();
          </script>
            
        </select>
        <span id="batch" class="message error"></span>
      </div>
      
      
      
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
      <button type="button" onclick="register_demo_class()" id="id_demo_submit_button" class="submit action-button" >Submit</button>
      <br>
      <span class="message error common visually-hidden"></span>
    </fieldset>

    <!-- prerequisite information -->
    <fieldset>
        <h2 class="fs-title">Prerequisite Information</h2>
        <h3 class="fs-subtitle"></h3>
        <div class="custom-field-grp">
          <span class="field_title">Privious Courses (if any)</span>
          <input type="text" name="privious_courses" id="id_privious_courses" placeholder="Privious Courses" title="Privious Courses" />
          <span id="privious_courses" class="message error"></span>
        </div>
        <div class="custom-field-grp">
            <span class="field_title">Relevant Certifications</span>
            <input type="text" name="relevant_certifications" id="id_relevant_certifications" placeholder="Relevant Certifications" title="Relevant Certifications" />
            <span id="relevant_certifications" class="message error"></span>
        </div>
        
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
        <button type="button" onclick="register_demo_class()" id="id_demo_submit_button" class="submit action-button" >Submit</button>
        <br>
        <span class="message error common visually-hidden"></span>
    </fieldset>

    <!-- returning student -->
    <fieldset>
        <h2 class="fs-title">Returning Student</h2>
        <h3 class="fs-subtitle"></h3>
        <div class="custom-field-grp">
          <span class="field_title">Have you priviously Enrolled in any Webxter course? <span class="required">*</span></span>
          <select name="is_returning_student" id="id_is_returning_student" title="Have you priviously Enrolled in any Webxter course?" required>
            <option value="False" selected>No</option>
            <option value="True">Yes</option>
          </select>
          <span id="is_returning_student" class="message error"></span>
        </div>
        <div class="custom-field-grp">
            <span class="field_title">Webxter Student ID</span>
            <input type="text" name="webxter_student_id" id="id_webxter_student_id" placeholder="Webxter Student ID" title="Webxter Student ID" />
            <span id="webxter_student_id" class="message error"></span>
        </div>
        
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
        <button type="button" onclick="register_demo_class()" id="id_demo_submit_button" class="submit action-button" >Submit</button>
        <br>
        <span class="message error common visually-hidden"></span>
    </fieldset>

    <!-- emergency information -->
    <fieldset>
        <h2 class="fs-title">Emergency Information</h2>
        <h3 class="fs-subtitle"></h3>
        <div class="custom-field-grp">
          <span class="field_title">Name (Emergency)</span>
          <input type="text" name="emergency_contact_name" id="id_emergency_contact_name" placeholder="Full Name" title="Emergency Contact Full Name">
          <span id="emergency_contact_name" class="message error"></span>
        </div>
        <div class="custom-field-grp">
            <span class="field_title">Contact Number (Emergency)</span>
            <input type="text" name="emergency_contact_number" maxlength="12" minlength="10" id="id_emergency_contact_number" placeholder="Emergency Contact Number" title="Emergency Contact Number" />
            <span id="emergency_contact_number" class="message error"></span>
        </div>
        <div class="custom-field-grp">
            <span class="field_title">Relationship</span>
            <select name="emergency_contact_relationship" id="id_emergency_contact_relationship">
                <option value="" selected disabled>--</option>
                <option value="father">Father</option>
                <option value="mother">Mother</option>
                <option value="sister">Sister</option>
                <option value="brother">Brother</option>
                <option value="husband">Husband</option>
                <option value="wife">Wife</option>
            </select>
            <span id="emergency_contact_relationship" class="message error"></span>
        </div>
        
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <button type="button" onclick="register_demo_class()" id="id_demo_submit_button" class="submit action-button" >Submit</button>
        <br>
      <span class="message success" id="id_message_success"></span>
      <span class="message error common visually-hidden"></span>
    </fieldset>
  </form>
  
  
</div>
  <script>
    var is_returning = document.getElementById('id_is_returning_student');
    var webxter_student_id = document.getElementById('id_webxter_student_id');
    webxter_student_id.disabled = true;
    webxter_student_id.style.cursor = "no-drop";

    is_returning.addEventListener('change',()=>{
      if (is_returning.value == "True"){
        webxter_student_id.disabled = false;
        webxter_student_id.style.cursor = "";
      }
      else{
        webxter_student_id.disabled = true;
        webxter_student_id.style.cursor = "no-drop";
      }
    })

    function prepare_form_data(){
      
      // personal details
      let name = document.getElementById('id_name');
      let email = document.getElementById('id_email');
      let dob = document.getElementById('id_date_of_birth');
      let gender = document.getElementById('id_gender');
      let contact_number = document.getElementById('id_contact_number');
      let alternate_number = document.getElementById('id_alternate_number');

      // academic details
      let student_id = document.getElementById('id_student_id');
      let highest_education_qualifications = document.getElementById('id_highest_education_qualification');
      let institute_name = document.getElementById('id_institute_name');

      // course details
      let course = document.getElementById('id_course_list_4373');
      let batch = document.getElementById('id_batch');

      // prerequisite information
      let privious_courses = document.getElementById('id_privious_courses');
      let relevant_certifications = document.getElementById('id_relevant_certifications');

      // returning student
      let is_returning = document.getElementById('id_is_returning_student');
      let webxter_student_id = document.getElementById('id_webxter_student_id');

      // emergency information
      let emergency_contact_name = document.getElementById('id_emergency_contact_name');
      let emergency_contact_number = document.getElementById('id_emergency_contact_number');
      let emergency_contact_relationship = document.getElementById('id_emergency_contact_relationship')


      let data = {
        // personal details
        "name":name.value,
        "email":email.value,
        "date_of_birth":dob.value,
        "gender":gender.value,
        "contact_number":contact_number.value,
        "alternate_number":alternate_number.value,

        // academic details
        "student_id":student_id.value,
        "highest_education_qualification":highest_education_qualifications.value,
        "institute_name":institute_name.value,

        // course details
        "course":course.value,
        "batch":batch.value,

        // prerequisite information
        "privious_courses":privious_courses.value,
        "relevant_certifications":relevant_certifications.value,

        // returning student
        "is_returning":is_returning.value,
        "webxter_student_id":webxter_student_id.value,

        // emergency information
        "emergency_contact_name":emergency_contact_name.value,
        "emergency_contact_number":emergency_contact_number.value,
        "emergency_contact_relationship":emergency_contact_relationship.value
      }
      return data;
    }

    function register_demo_class(){
      let error_message_tags = document.querySelectorAll('.message.error.common');
            for (let tag of error_message_tags){
              tag.classList.add('visually-hidden');
              tag.innerHTML = "";
            }
      let submit_button = document.getElementById('id_demo_submit_button');
      submit_button.innerHTML = `<div class="spinner-border text-light" role="status">
                                  <span class="visually-hidden">Loading...</span>
                                </div>`;
      //
      var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
      let success_message = document.getElementById('id_message_success');
      success_message.classList.add('visually-hidden');
      let span_error_messages = document.querySelectorAll('.message');
      for (let sp of span_error_messages){
        sp.classList.add('visually-hidden');
      }
      let postData = prepare_form_data();
      $.ajax({
        url:"{% url 'registration-api' %}",
        type:"POST",
        contentType:"application/json",
        beforeSend:function(xhr){
          xhr.setRequestHeader("X-CSRFToken",csrftoken);
        },
        data:JSON.stringify(postData),
        success:function(data){
          if (data['status'] == "success"){
            submit_button.style.cursor = "no-drop";
            submit_button.disabled = true;
            submit_button.innerHTML = "Submitted" 
            
            success_message.classList.remove('visually-hidden');
            success_message.innerHTML = data['message'];
          }
          else if (data['status'] == "error"){
            // console.log(data)
            submit_button.innerHTML = "submit";
            let error_message_tags = document.querySelectorAll('.message.error.common');
            for (let tag of error_message_tags){
              tag.classList.remove('visually-hidden');
              tag.innerHTML = "Please fill all the required fields!";
            }
            let errors = data['message'];
            // console.log(errors)
            let counter = Object.keys(errors).length
            let keys = Object.keys(errors);
            for (let i=0;i<counter;i++){
              // console.log(keys[i])
              let ele = document.getElementById(`${keys[i]}`);
              ele.classList.remove('visually-hidden');
              ele.innerHTML = errors[keys[i]];
            }
          }
          
        },
        error:function(xhr,textStatus,errorThrown){
          success_message.classList.remove('visually-hidden');
          success_message.innerHTML = "Demo Booked";
          submit_button.innerHTML = "Submit";
          console.error("AJAX ERROR: ",errorThrown);
        }
      })
    }

  </script>

  <script>
    var current_fs, next_fs, previous_fs;
var left, opacity, scale;
var animating;
$(".next").click(function () {
  if (animating) return false;
  animating = true;

  current_fs = $(this).parent();
  next_fs = $(this).parent().next();
  $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
  next_fs.show();
  current_fs.animate(
    { opacity: 0 },
    {
      step: function (now, mx) {
        scale = 1 - (1 - now) * 0.2;
        left = now * 50 + "%";
        opacity = 1 - now;
        current_fs.css({
          transform: "scale(" + scale + ")",
          position: "absolute"
        });
        next_fs.css({ left: left, opacity: opacity });
      },
      duration: 800,
      complete: function () {
        current_fs.hide();
        animating = false;
      },
      easing: "easeInOutBack"
    }
  );
});

$(".previous").click(function () {
  if (animating) return false;
  animating = true;

  current_fs = $(this).parent();
  previous_fs = $(this).parent().prev();
  $("#progressbar li")
    .eq($("fieldset").index(current_fs))
    .removeClass("active");

  previous_fs.show();
  current_fs.animate(
    { opacity: 0 },
    {
      step: function (now, mx) {
        scale = 0.8 + (1 - now) * 0.2;
        left = (1 - now) * 50 + "%";
        opacity = 1 - now;
        current_fs.css({ left: left });
        previous_fs.css({
          transform: "scale(" + scale + ")",
          opacity: opacity
        });
      },
      duration: 800,
      complete: function () {
        current_fs.hide();
        animating = false;
      },
      easing: "easeInOutBack"
    }
  );
});

$(".submit").click(function () {
  return false;
});

  </script>
{% endblock mainarea %}