{% extends "masters/admin-master.html" %}
{% block title %}
  Webxter | Add Course
{% endblock title %}

{% load static %}

{% block adminarea %}
  <style>
    .main-area{
        /* background-color: white; */
        width: 100%;
        /* height: 200px; */
        float: right;
        margin-top:70px;
    }
    .form-group label{
        color:white;
    }
    h2{
        color:white;
    }
    .form-group input::placeholder,.form-group textarea::placeholder{
        color: rgba(0, 0, 0, 0.449);
    }
    .form-group input, .form-group textarea{
        /* background-color:#00000036 !important;
         */
        background-color: white;
        color: black;
    }
  </style>

  <div class="main-area">
    <h2>Create Course</h2>
    <br>
    <form action="{% url 'add-course'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="">Course Name</label>
            <input type="text" class="form-control" placeholder="Course Name" name="course_name" required>
        </div>
        <br>
        <div class="form-group">
            <label for="">Short Description</label>
            <textarea class="form-control" placeholder="Brief Description" name="course_short_description" required></textarea>
        </div>
        <br>
        <div class="form-group">
            <label for="">Description</label>
            <textarea id="id_course_description" name="course_description"></textarea> 
        <script src="https://htmeditor.com/js/htmeditor.min.js" htmeditor_textarea="id_course_description" full_screen="no" editor_height="380" run_local="no"></script>
        </div>
        <br>
        <div class="form-group">
            <label for="">Thumbnail <i class="fa fa-image"></i></label>
            <input type="file" class="form-control" placeholder="" name="course_image" id="files">
            <img id="image"  style="max-height: 150px;"/>
        </div>
        <script>
          document.getElementById('files').onchange = function () {
        var src = URL.createObjectURL(this.files[0])
        document.getElementById('image').src = src
      }
        </script>
        <br>
        <div class="form-group">
          <label for="">Syllabus</label>
          <input type="file" name="course_syllabus" class="form-control">
        </div>
        <br>
        <div class="form-group">
            <label>Publish Status</label>
            <select class="form-select" name="is_published">
                <option value="True">Publish</option>
                <option value="Flase">Draft</option>
            </select>
        </div>
        <br>
        <div class="form-group">
          <label for="">URL</label>
          <input type="text" name="slug" placeholder="this-is-url" class="form-control">
        </div>
        <br>
        <div class="form-group">
          <label for="">Tags</label>
          <input type="text" name="tags" placeholder="Tags" class="form-control">
        </div>
        <br>
        <div class="form-group">
          <label for="">Categories</label>
          <select name="categories" placeholder="Tags" class="form-select" multiple>
            {% for category in course_categories %}
            <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
          </select>
        </div>
        <br>
        <button class="btn btn-success" type="submit">Create</button>
    </form>
  </div>
  <script>
    document.querySelector('li[data-target="add"]').classList.add('active')
    document.querySelector('a[data-target="add-course"]').classList.add('active-a')
  </script>
{% endblock adminarea %}