{% extends "index-master.html" %}
{% block title %}
  Certificate Validation | Webxter
{% endblock title %}

{% block mainarea %}
  

  <style>
    .container-wrapper {
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 75vh;
    }

    .container-wrapper .container {
      max-width: 400px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .container-wrapper h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .container-wrapper label {
      display: block;
      margin-bottom: 8px;
    }

    .container-wrapper input[type="text"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 3px;
    }

    .container-wrapper button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    .container-wrapper .message {
      text-align: center;
      margin-top: 20px;
    }

    .container-wrapper .success {
      color: #4CAF50;
    }

    .container-wrapper .error {
      color: #f44336;
    }
  </style>
</head>

<body>
  <div class="container-wrapper">
  <div class="container">
    <h1>Certificate Validation</h1>
    <form>
      {% csrf_token %}
      <label for="certificateCode">Enter your certificate code:</label>
      <label for="" style="font-size: 13px;">(Enter the code mentioned on your certificate)</label>
      <input type="text" id="certificateCode" name="certificate_number" placeholder="E.g., ABC1234" required>
      <br>
      <br>
      <button type="button" onclick="checkValidationCertificate()">Validate</button>
    </form>
    <div class="spinner-border visually-hidden" role="status" id="id_certificate_result_preloader" style="margin-top: 20px;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="message visually-hidden" id="success_message" style="color: green;">{{validation_message.1}}</div>
    <div class="message visually-hidden" id="error_message" style="color: red;">{{validation_message.1}}</div>
  </div>
</div>
<script>
  function checkValidationCertificate(){
    let error_message = document.getElementById('error_message');
    let success_message = document.getElementById('success_message');
    let preloader = document.getElementById('id_certificate_result_preloader');
    var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
    preloader.classList.remove('visually-hidden');
    success_message.classList.add('visually-hidden');
    error_message.classList.add('visually-hidden');
    var postData = {
            "certificate_number": document.getElementById('certificateCode').value,
        };
        // console.log(JSON.stringify(postData))
        // Define the URL to which the POST request will be sent
        var url = '{% url "validate-certificate" %}';

        // Perform the AJAX POST request
        $.ajax({
        url: url,
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(postData), // Convert data to JSON format
        // data: postData, // Convert data to JSON format
        beforeSend: function(xhr) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        },
        success: function(data) {
            // Perform actions with the data received from the server
            // console.log('Response data:', data);
            // Email Verified ✅
            if (data['status']=='error'){
              setTimeout(() => {
                preloader.classList.add('visually-hidden');
                error_message.classList.remove('visually-hidden')
                
                error_message.innerHTML = data['message'];
              }, 600);
            }
            else if (data['status']=='success'){
                setTimeout(() => {
                  preloader.classList.add('visually-hidden');
                  success_message.classList.remove('visually-hidden')
                  success_message.innerHTML = data['message'];
                }, 600);
            }
            // Example: Update the UI with the response data
            $('#response-container').text(JSON.stringify(data));
        },
        error: function(xhr, textStatus, errorThrown) {
            // Handle errors that occurred during the AJAX request
            console.error('AJAX error:', errorThrown);
        }
        });
      }
</script>
  {% endblock mainarea %}