{% extends "masters/admin-master.html" %}

{% block title %}
  Add Banner
{% endblock title %}


{% block adminarea %}
  <style>
    .form-group label{
        color:white;
    }
  </style>
  <form action="{% url 'edit-banner' carousel_id=carousel.id%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="">Select Image</label>
        <input type="file" class="form-control" placeholder="" name="carousel_image" id="files">
        {% if carousel.carousel_image %}
        <img id="image"  style="max-height: 150px;" src="/media/{{carousel.carousel_image}}" />
        {%else%}
        <img id="image"  style="max-height: 150px;"/>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="">Carousel Title</label>
        <input type="text" name="carousel_title" class="form-control" value="{{carousel.carousel_title}}">
    </div>
    <div class="form-group">
        <label for="">Carousel Description</label>
        <textarea name="carousel_description" class="form-control">{{carousel.carousel_description}}</textarea>
    </div>
    <div class="form-group">
        <label for="">Link</label>
        <textarea name="carousel_redirect_link" class="form-control">{{carousel.carousel_redirect_link}}</textarea>
    </div>
    <div class="form-group">
        <label for="">Show On Mobile?</label>
        <select name="is_mobile" id="id_is_mobile" class="form-select">
          <option value="True" {% if carousel.is_mobile %} selected {% endif %}>Show</option>
          <option value="False" {% if carousel.is_mobile %} {% else %}selected {% endif %}>Do not Show</option>
        </select>
    </div>
    <script>
        document.getElementById('files').onchange = function () {
      var src = URL.createObjectURL(this.files[0])
      document.getElementById('image').src = src
    }
      </script>
    <br>
    <button class="btn btn-success">Add</button>
  </form>

  <script>
        document.querySelector('li[data-target="add"]').classList.add('active')
    document.querySelector('a[data-target="add-banner"]').classList.add('active-a')
  </script>
{% endblock adminarea %}