{% extends "masters/index-master.html" %}
{% block title %}
  Sign Up | Webxter
{% endblock title %}
{% load static %}
{% block mainarea %}
  

    <style>

        .container-wrapper{
            width: 100%;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .container-wrapper .container {
            width: 35%;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .container-wrapper h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        .container-wrapper label {
            display: block;
            margin-bottom: 10px;
        }

        .container-wrapper input[type="text"],
        .container-wrapper input[type="email"],
        .container-wrapper input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        .container-wrapper input[type="submit"] {
            width: 100%;
            padding: 12px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        .container-wrapper input[type="submit"]:hover {
            background-color: #45a049;
        }

        .container-wrapper .form-group {
            margin-bottom: 20px;
        }
        @media screen and (min-width:100px) and (max-width:550px) {
            .container-wrapper .container {
            width: 100% !important;
        }
        }
    </style>
</head>
<body>
    <div class="container-wrapper">
    <div class="container">
        <h1>Forgot Password</h1>
        <h4 style="text-align: center;"><img src="{%static 'images/logo.png'%}" alt="" style="max-height: 100px;"></h4>
        <form action="{% url 'forgot-password'%}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="username">Security Question:</label>
                <select name="security_question_1" required class="form-select">
                    <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
                    <option value="What was the name of your first pet?">What was the name of your first pet?</option>
                    <option value="In which city were you born?">In which city were you born?</option>
                    <option value="What is your favorite book?">What is your favorite book?</option>
                </select>
                <input type="text" name="security_question_1_answer" placeholder="answer">
            </div>
            
            <div class="form-group">
                <label for="username">Security Question:</label>
                <select name="security_question_2" required class="form-select">
                    <option value="What was the model of your first car?">What was the model of your first car?</option>
                    <option value="What is your favorite movie?">What is your favorite movie?</option>
                    <option value="What is the name of your best childhood friend?">What is the name of your best childhood friend?</option>
                    <option value="What is your favorite place to visit for vacation?">What is your favorite place to visit for vacation?</option>
                </select>
                <input type="text" name="security_question_2_answer" placeholder="answer">
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock mainarea %}
